{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destino 2 melgar</title>
    <link rel="stylesheet" href="{% static 'css/destinos1.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="{% static 'img/Logo_Nomada_Tours-removebg-preview.png' %}" alt="Logo">
        <nav>
            <a href="#">Perfil</a>
            <a href="{% url 'viajes' %}">Viajes</a>
            <a href="{% url 'destinos' %}">Destinos</a>
            <a href="{% url 'guia' %}">Guías Turísticos</a>

            {% if usuario %}
                <a href="{% url 'logout' %}">Cerrar sesión</a>
            {% else %}
                <a href="{% url 'login' %}">Iniciar sesión</a>
            {% endif %}
        </nav>
    </header>

    <main>
        <h2>Ciudad reptil melgar</h2>
        <div class="regresar">
            <a href="{% url 'destinos' %}" class="btn">
                Regresar
                <img src="{% static 'img/432141-removebg-preview.png' %}" alt="botón foto" class="boton">
            </a>
        </div>

        <div class="detalle-container">
            <div class="card">
                <img src="{% static 'img/Ciudad reptil melgar.jpg' %}" alt="ciudad reptil">
                <h3>Ciudad reptil melgar</h3>
                <p class="p">Precio: $180.000</p>
                <h4>Transporte: Autobus, Trocha</h4>
            </div>
            <div class="descripcion">
                <h4>¿Te atreves a explorar el mundo de los reptiles más asombrosos? Ciudad Reptil, ubicada en Melgar, Tolima, es un parque <br>
                    temático y educativo único en Colombia, donde podrás conocer de cerca serpientes, iguanas, caimanes, tortugas, arañas, <br>
                    y muchas otras especies exóticas. <br>
                    <br>
                    Más que un zoológico, Ciudad Reptil es una experiencia interactiva pensada para toda la familia, donde aprenderás sobre <br>
                    la conservación, los hábitats naturales y el comportamiento de estos increíbles animales. Recorre senderos rodeados de <br>
                    naturaleza, participa en exhibiciones en vivo y déjate sorprender por la biodiversidad del reino reptil.</h4>
                <div class="botones">
                    <button class="btn">Ver tipo Guia turistico</button>
                    <a href="{% url 'reserva2' %}" class="btn">Reservar</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
